---
import Main from '../../layouts/Main.astro'
// import "choices.js/src/styles/base.scss"
import "choices.js/src/styles/choices.scss"
---

<Main>
	<h1 class="title is-1">Add a team member</h1>
	<form action="">
        <div class="field">
            <label for="name" class="label">Name</label>
            <div class="control">
                <input type="text" class="input" name="name">
            </div>
        </div>
        <div class="field">
            <label for="name" class="label">Start Date</label>
            <div class="control">
                <input type="date" class="input" name="startDate">
            </div>
        </div>
        <div class="field">
            <label for="name" class="label">End Date</label>
            <div class="control">
                <input type="date" class="input" name="endDate">
            </div>
        </div>
        <div class="field">
            <label for="name" class="label">Skills</label>
            <div class="control">
                <input type="text" class="input" name="skills" id="skills-choices">
            </div>
        </div>
    </form>
</Main>

<script>
    import Choices from "choices.js"
    const skillsEl = document.getElementById("skills-choices")
    if (skillsEl) {
        const skillsChoices = new Choices(skillsEl, {
        }).setChoices([{value: "foo", label: "FOO", disabled: false}])

    }
        
</script>
