---
const { errors } = Astro.props
---

	<form method="post">
		<div class="field">
			<label for="name" class="label">Name</label>
			<div class="control">
				<input type="text" class="input" name="name" id="name">
				 {errors.fieldErrors?.name.map( error => {
					console.log(error)
					return <p class="help is-danger">{error}</p>
				 })}
			</div>
		</div>
		<button class="button is-primary" type="submit">Add</button>
	</form>

