---
const isActive = (path: string) => {
  const pathname = new URL(Astro.request.url).pathname;
  const currentPath = pathname.slice(1); // remove the first "/"
  return currentPath === path ? "is-active" : "";
};
---
<nav class="menu">
    <ul class="menu-list">
        <li><a href="/" class={isActive("")}>Dashboard</a></li>
        <li><a href="/team" class={isActive("team")}>Members</a></li>
        <li><a href="/skills" class={isActive("skills")}>Skills</a></li>
        <li><a href="/projects" class={isActive("projects")}>Projects</a></li>
        <li><a href="/users" class={isActive("users")}>Users</a></li>
    </ul>
</nav>