---
import Layout from "../../layouts/Main.astro"
import { UserFromDTO } from "../../modules/identityaccess"
import z from "zod"

let data: { [k: string]: FormDataEntryValue } = {
    firstname: '',
    lastname: "",
    emailAddress: "",
    emailAddressConfirmation: "",
    password: "",
    passwordConfrimation: "",
    username: ""
}

if (Astro.request.method === 'POST') {
    const form = await Astro.request.formData()
    data = Object.fromEntries(form)
    try {
        const result = UserFromDTO.schema.parse(data)
        console.log(result)
    } catch(err) {
        if (err instanceof z.ZodError) {
            console.log(err.flatten());
        } 
    }
}

---

<Layout title="Register new user">
    <form method="post">
        <div class="field">
            <label for="firstname" class="label">First name</label>
            <div class="control">
                <input type="text" class="input" name="firstname" id="firstname" value={data.firstname && data.firstname.toString()}>
            </div>
        </div>
        <div class="field">
            <label for="lastname" class="label">Last name</label>
            <div class="control">
                <input type="text" class="input" name="lastname" id="lastname"  value={data.lastname && data.lastname.toString()}>
            </div>
        </div>
        <div class="field">
            <label for="username" class="label">User name</label>
            <div class="control">
                <input type="text" class="input" name="username" id="username"  value={data.username && data.username}>
            </div>
        </div>
        <div class="field">
            <label for="emailAddress" class="label">Email address</label>
            <div class="control">
                <input type="text" class="input" name="emailAddress" id="emailAddress"  value={data.emailAddress && data.emailAddress}>
            </div>
        </div>
        <div class="field">
            <label for="emailAddressConfirmation" class="label">Confirm Email Address</label>
            <div class="control">
                <input type="email" class="input" name="emailAddressConfirmation" id="emailAddressConfirmation" value={data.emailAddressConfirmation && data.emailAddressConfirmation}>
            </div>
        </div>
        <div class="field">
            <label for="password" class="label">Password</label>
            <div class="control">
                <input type="password" class="input" name="password" id="password" value={data.password && data.password}>
            </div>
        </div>
        <div class="field">
            <label for="passwordConfrimation" class="label">Confirm Password</label>
            <div class="control">
                <input type="password" class="input" name="passwordConfrimation" id="passwordConfrimation" value={data.passwordConfrimation && data.passwordConfrimation}>
            </div>
        </div>
        <button class="button is-primary">Add</button>
    </form>
</Layout>