---
import Layout from "../../layouts/Main.astro"
import { UserFromDTO } from "../../modules/identityaccess"
import z from "zod"

if (Astro.request.method === 'POST') {
    const form = await Astro.request.formData()
    const data = Object.fromEntries(form)
    try {
        const result = UserFromDTO.schema.parse(data)
        console.log(result)
    } catch(err) {
        if (err instanceof z.ZodError) {
            console.log(err.flatten());
        } 
    }

}

---

<Layout>
    <form method="post">
        <div class="field">
            <label for="firstname" class="label">First name</label>
            <div class="control">
                <input type="text" class="input" name="firstname" id="firstname">
            </div>
        </div>
        <div class="field">
            <label for="lastname" class="label">Last name</label>
            <div class="control">
                <input type="text" class="input" name="lastname" id="lastname">
            </div>
        </div>
        <div class="field">
            <label for="emailAddress" class="label">Email address</label>
            <div class="control">
                <input type="email" class="input" name="emailAddress" id="emailAddress">
            </div>
        </div>
        <div class="field">
            <label for="password" class="label">Password</label>
            <div class="control">
                <input type="password" class="input" name="password" id="password">
            </div>
        </div>
        <div class="field">
            <label for="passwordConfrimation" class="label">Confirm Password</label>
            <div class="control">
                <input type="password" class="input" name="passwordConfrimation" id="passwordConfrimation">
            </div>
        </div>
        <button class="button is-primary">Add</button>
    </form>
</Layout>